{% extends "base.html" %}

{% block content %}
<div class="main-page mt-4 mx-4 tablet:min-h-[500px] laptop:mx-[15%] desktop:mx-[25%] items-center justify-items-center border
    rounded-md border-main-bg shadow-lg">
    <h1>About this website</h1>
    <p class="mx-4">"No.39 Recipes" is an online platform designed for food enthusiasts to share and discover new
        recipes. Whether
        you're a home cook or an aspiring chef, No.39 Recipes allows you to connect with a community of users passionate
        about cooking.</p>
</div>
{% endblock content %}