{% extends "base.html" %}

{% block content %}
<div class="relative mt-16">
<p>This page this explain what this website is about, and how it is connected to page of the No. 39 venue.</p>
<ul>
    <h3>Main points to mention here</h3>
    <li>The user could create an account for this page, so they can share their recepies, and get votes on them to get a
        chance on winning the <i>Seasonal competition</i></li>
    <li>The user could just browse the recepies as well, and can still "like" them, without an account, in case they do
        not want to share their own.</li>
    <li>For every season, every 3 months, we announce a winner who will receive a "Meal for two" voucher.
    <li>Winner is the user, that has the highest ranking recepie within the past 3 months. <i>Votes are active for 3
            months only</i></li>
    </li>
    <li>Tell the user a little bit about what No. 39 offers</li>
    <li></li>
</ul>
</div>
{% endblock content %}