<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='assets/cookbook.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
      type="text/css"
    />
    <title>No. 39 Recipes</title>
  </head>

  <body>
    <!-- Responsive navbar-->
    <header class="header">
      <nav class="navbar">
        <div class="navbar-brand">
          <a class="" href="#!">No. 39 Recipes</a>
        </div>
        <div class="navbar-links-list-div">
          <ul class="navbar-link-list">
            <li class="navbar-links">
              <a class="nav-link" href="{{ url_for('index_page') }}">Main</a>
            </li>
            <li class="navbar-links">
              <a class="nav-link" href="{{ url_for('recipes_page') }}"
                >Recipes</a
              >
            </li>
            <li class="navbar-links">
              <a class="nav-link" href="{{ url_for('about_page') }}">About</a>
            </li>
          </ul>
        </div>
        <div class="navbar-sign-in">
          <button>Sign in</button>
        </div>
      </nav>
    </header>

    {% block header %} {% endblock header %} {% block content %} {% endblock
    content %}

    <!-- Footer-->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; No. 39 Recipes <span id="copyright"></span>
        </p>
      </div>
    </footer>
    <!-- JQuery JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
  </body>
</html>
