{% extends "base.html" %} {% block content %}
<!-- Content section-->
<div class="relative top-16 min-h-20 bg-golden">
  <p>hello
  </p>
</div>
<!-- Image element - set the background image for the header in the line below-->
  <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
  <div style="height: 20rem"></div>
</div>
<!-- Content section-->
<section class="">
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h2>Engaging Background Images</h2>
        <p class="lead">
          The background images used in this template are sourced from Unsplash
          and are open source and free to use.
        </p>
        <p class="mb-0">
          I can't tell you how many people say they were turned off from science
          because of a science teacher that completely sucked out all the
          inspiration and enthusiasm they had for the course.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
