{% extends "base.html" %} {% block content %}

<div
  class="relative mt-20 tablet:mt-60 mb-4 mx-2 tablet:mx-8 p-10 tablet:p-4 tablet:min-h-[500px] items-center justify-center border rounded-md border-main-bg shadow-lg"
>
  <h1 class="text-center mb-16 font-bold font-mono text-xl">Welcome back!</h1>
  <form method="GET" name="login" action="{{ login_check }}" class="m-8 tablet:min-h-fit">
    <div class="tablet:m-4 grid grid-cols-1 tablet:grid-cols-2">
      <label for="email" class="text-center mb-2">Email address:</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="youremail@address.com"
        class="form-control border rounded-md border-main-bg shadow-sm p-[3px] text-center mb-2"
      />
    </div>

    <div class="tablet:m-4 grid grid-cols-1 tablet:grid-cols-2">
      <label for="password" class="text-center mb-2">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="#tryharder"
        class="form-control border rounded-md border-main-bg shadow-sm text-center mb-2"
      />
    </div>
    <div
      class="grid grid-cols-1 tablet:grid-cols-2 justify-center items-center mt-8 gap-8 tablet:px-32"
    >
      <button class="border rounded-lg p-1">
        <a href="">Login</a>
      </button>
      <a
        href="{{ url_for('forgot_page')}}"
        class="border rounded-lg p-1 text-center"
        >Forgot password</a
      >
      <a
        href="{{ url_for('signup_page')}}"
        class="border rounded-lg p-1 tablet:col-span-2 text-center"
        >Sign up</a
      >
    </div>
  </form>
</div>

<!-- update buttons -->

{% endblock content %}
