{% extends "base_home.html" %}

{% block content %}
<div class="main-page pt-12 grid grid-cols-1 gap-4 tablet:gap-2">
    {% with messages = get_flashed_messages()%}

    {% if messages %}

    {% for msg in messages %}
    <p class="text-center text-wrap text-red"><b>&#x2022 {{msg}}</b></p>
    {% endfor %}

    {% endif %}

    {% endwith %}
    <div class="recipes-row starters">
        <div class="recipes-header-row">
            <p>My starters</p>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for starter in starters %}
            <div class="card mb-2">
                <span><b>{{starter.recipe_name}}</b></span>
                <div class="card-picture">

                </div>
                <div class="grid grid-cols-2 laptop:grid-cols-3 mt-1 justify-self-center">
                    <form action="{{ url_for('edit_recipe')}}" method="POST" class="px-2">
                        <input type="hidden" value="{{starter.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="edit" id="edit_recipe" value="Edit">
                    </form>
                    <form action="{{ url_for('delete_recipe')}}" method="POST" class="px-1 mr-1 tablet:mr-0">
                        <input type="hidden" value="{{starter.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="delete" id="delete_recipe" value="Delete">
                    </form>
                    <form action="{{ url_for('view_recipe')}}" method="POST" class="px-2 mt-1 laptop:mt-0">
                        <input type="hidden" value="{{starter.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="view" id="View_recipe" value="View">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Mains -->
    <div class="recipes-row mains">
        <div class="recipes-header-row">
            <p>My mains</p>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for main in mains %}
            <div class="card mb-2">
                <span><b>{{main.recipe_name}}</b></span>
                <div class="card-picture">

                </div>
                <div class="grid grid-cols-2 laptop:grid-cols-3 mt-1 justify-self-center">
                    <form action="{{ url_for('edit_recipe')}}" method="POST" class="px-1">
                        <input type="hidden" value="{{main.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="edit" id="edit_recipe" value="Edit">
                    </form>
                    <form action="{{ url_for('delete_recipe')}}" method="POST" class="px-1 mr-1 tablet:mr-0">
                        <input type="hidden" value="{{main.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="delete" id="delete_recipe" value="Delete">
                    </form>
                    <form action="{{ url_for('view_recipe')}}" method="POST" class="px-1mt-1 laptop:mt-0">
                        <input type="hidden" value="{{main.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="view" id="View_recipe" value="View">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Desserts -->
    <div class="recipes-row desserts">
        <div class="recipes-header-row">
            <p>My desserts</p>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for dessert in desserts %}
            <div class="card mb-2">
                <span><b>{{dessert.recipe_name}}</b></span>
                <div class="card-picture">
                </div>
                <div class="grid grid-cols-2 laptop:grid-cols-3 mt-1 justify-self-center">
                    <form action="{{ url_for('edit_recipe')}}" method="POST" class="px-2">
                        <input type="hidden" value="{{dessert.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="edit" id="edit_recipe" value="Edit">
                    </form>
                    <form action="{{ url_for('delete_recipe')}}" method="POST" class="px-1 mr-1 tablet:mr-0">
                        <input type="hidden" value="{{dessert.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="delete" id="delete_recipe" value="Delete">
                    </form>
                    <form action="{{ url_for('view_recipe')}}" method="POST" class="px-2 mt-1 laptop:mt-0">
                        <input type="hidden" value="{{dessert.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="view" id="View_recipe" value="View">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Kid's meals -->
    <div class="recipes-row kids_meals">
        <div class="recipes-header-row">
            <p>My meals for kids</p>
            <hr class="bg-main-bg">
        </div>
        <div class="recipes-items-row">
            {% for kids_meal in kids_meals %}
            <div class="card mb-2">
                <span><b>{{kids_meal.recipe_name}}</b></span>
                <div class="card-picture">
                </div>
                <div class="grid grid-cols-2 laptop:grid-cols-3 mt-1 justify-self-center">
                    <form action="{{ url_for('edit_recipe')}}" method="POST" class="px-2">
                        <input type="hidden" value="{{kids_meal.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="edit" id="edit_recipe" value="Edit">
                    </form>
                    <form action="{{ url_for('delete_recipe')}}" method="POST" class="px-1mr-1 tablet:mr-0">
                        <input type="hidden" value="{{kids_meal.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="delete" id="delete_recipe" value="Delete">
                    </form>
                    <form action="{{ url_for('view_recipe')}}" method="POST" class="px-2 mt-1 laptop:mt-0">
                        <input type="hidden" value="{{kids_meal.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="view" id="View_recipe" value="View">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="new-recipe text-center">
        <a href="{{url_for('add_new_recipe_page')}}"
            class="button tablet:col-span-2 border-2 rounded-lg p-1 cursor-pointer min-w-[40%] laptop:max-w-[20%]">Add
            a new recipe</a>
    </div>
</div>

{% endblock content %}