{% extends "base_home.html" %}

{% block content %}
{% with messages = get_flashed_messages()%}

{% if messages %}

{% for msg in messages %}
<p class="text-center text-wrap text-red"><b>&#x2022 {{msg}}</b></p>
{% endfor %}

{% endif %}

{% endwith %}
<div class="main-page pt-12 grid grid-cols-1">
    <div class="recipes-row starters">
        <div class="recipes-header-row">

        </div>
        <div class="recipes-items-row">
            {% for starter in my_starters %}
            <div class="card">
                <!-- to create function to fill the space in with cards for 4 recipes -->
                <div class="card-picture">
                    <img src="{{url_for('../assets/starters.jpg')}}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Mains -->
    <div class="recipes-row mains">
        <div class="recipes-header-row">

        </div>
        <div class="recipes-items-row">
            {% for main in my_mains %}
            <div class="card">
                <!-- to create function to fill the space in with cards for 4 recipes -->
                <div class="card-picture">
                    <img src="{{url_for('../assets/mains.jpg')}}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Desserts -->
    <div class="recipes-row desserts">
        <div class="recipes-header-row">

        </div>
        <div class="recipes-items-row">
            {% for dessert in my_desserts %}
            <div class="card">
                <!-- to create function to fill the space in with cards for 4 recipes -->
                <div class="card-picture">
                    <img src="{{url_for('../assets/desserts.jpg')}}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Kid's meals -->
    <div class="recipes-row kids">
        <div class="recipes-header-row">

        </div>
        <div class="recipes-items-row">
            {% for kids_meal in my_kids_meals %}
            <div class="card">
                <!-- to create function to fill the space in with cards for 4 recipes -->
                <div class="card-picture">
                    <img src="{{url_for('../assets/kids.jpg')}}" alt="">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="new-recipe text-center">
        <a href="{{url_for('add_new_recipe_page')}}"
            class="button tablet:col-span-2 border-2 rounded-lg p-1 cursor-pointer min-w-[40%] laptop:max-w-[20%]">Add
            a new recipe</a>
    </div>
</div>

{% endblock content %}