{% extends "base_home.html" %}

{% block content %}
<div class="main-page pt-12 grid grid-cols-1">
    {% with messages = get_flashed_messages()%}

    {% if messages %}

    {% for msg in messages %}
    <p class="text-center text-wrap text-red"><b>&#x2022 {{msg}}</b></p>
    {% endfor %}

    {% endif %}

    {% endwith %}
    <div class="recipes-row starters">
        <div class="recipes-header-row">
            <p>Starters</p>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for starter in starters %}
            <div class="card">
                <span><b>{{starter.recipe_name}}</b></span>
                <div class="card-picture">

                </div>
                <div class="grid grid-cols-2 mt-1">
                    <form action="{{ url_for('edit_recipe')}}" method="POST"
                        class="justify-self-center border border-main-bg rounded px-2 bg-golden font-bold">
                        <input type="hidden" value="{{starter.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="edit" id="edit_recipe" value="Edit">
                    </form>
                    <form action="{{ url_for('delete_recipe')}}" method="POST"
                        class="justify-self-center border border-main-bg rounded px-1 bg-red font-bold mr-2">
                        <input type="hidden" value="{{starter.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="delete" id="delete_recipe" value="Delete">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Mains -->
    <div class="recipes-row mains">
        <div class="recipes-header-row">
            <p>Mains</p>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for main in mains %}
            <div class="card">
                <span><b>{{main.recipe_name}}</b></span>
                <div class="card-picture">

                </div>
                <div class="grid grid-cols-2 mt-1">
                    <form action="{{ url_for('edit_recipe')}}" method="POST"
                        class="justify-self-center border border-main-bg rounded px-2 bg-golden font-bold">
                        <input type="hidden" value="{{main.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="edit" id="edit_recipe" value="Edit">
                    </form>
                    <form action="{{ url_for('delete_recipe')}}" method="POST"
                        class="justify-self-center border border-main-bg rounded px-1 bg-red font-bold mr-2">
                        <input type="hidden" value="{{main.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="delete" id="delete_recipe" value="Delete">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Desserts -->
    <div class="recipes-row desserts">
        <div class="recipes-header-row">
            <p>Desserts</p>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for dessert in desserts %}
            <div class="card">
                <span><b>{{dessert.recipe_name}}</b></span>
                <div class="card-picture">
                </div>
                <div class="grid grid-cols-2 mt-1">
                    <form action="{{ url_for('edit_recipe')}}" method="POST"
                        class="justify-self-center border border-main-bg rounded px-2 bg-golden font-bold">
                        <input type="hidden" value="{{dessert.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="edit" id="edit_recipe" value="Edit">
                    </form>
                    <form action="{{ url_for('delete_recipe')}}" method="POST"
                        class="justify-self-center border border-main-bg rounded px-1 bg-red font-bold mr-2">
                        <input type="hidden" value="{{dessert.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="delete" id="delete_recipe" value="Delete">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Kid's meals -->
    <div class="recipes-row kids">
        <div class="recipes-header-row">
            <p>Kid's meals</p>
            <hr class="bg-main-bg">
        </div>
        <div class="recipes-items-row">
            {% for kids_meal in kids_meals %}
            <div class="card">
                <span><b>{{kids_meal.recipe_name}}</b></span>
                <div class="card-picture">
                </div>
                <div class="grid grid-cols-2 mt-1">
                    <form action="{{ url_for('edit_recipe')}}" method="POST"
                        class="justify-self-center border border-main-bg rounded px-2 bg-golden font-bold">
                        <input type="hidden" value="{{kids_meal.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="edit" id="edit_recipe" value="Edit">
                    </form>
                    <form action="{{ url_for('delete_recipe')}}" method="POST"
                        class="justify-self-center border border-main-bg rounded px-1 bg-red font-bold mr-2">
                        <input type="hidden" value="{{kids_meal.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="delete" id="delete_recipe" value="Delete">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="new-recipe text-center">
        <a href="{{url_for('add_new_recipe_page')}}"
            class="button tablet:col-span-2 border-2 rounded-lg p-1 cursor-pointer min-w-[40%] laptop:max-w-[20%]">Add
            a new recipe</a>
    </div>
</div>

{% endblock content %}