{% extends "base.html" %}

{% block content %}

<div class="main-page pt-12 grid grid-cols-1">
    <div class="recipes-row starters">
        <div class="recipes-header-row">
            <p>Starters</p>
        </div>
        <div class="recipes-items-row">
            {% for starter in starters %}
            <div class="card">
                <span>{{starter.recipe_name}}</span>
                <div class="card-picture">

                </div>
                <form action="{{ url_for('view_recipe')}}" method="GET">
                    <input type="checkbox" value="{{starter.recipe_id}}" hidden>
                    <input type="submit" name="view" id="view_recipe" value="View recipe">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Mains -->
    <div class="recipes-row mains">
        <div class="recipes-header-row">
            <p>Mains</p>
        </div>
        <div class="recipes-items-row">
            {% for main in mains %}
            <div class="card">
                <span>{{main.recipe_name}}</span>
                <div class="card-picture">
                </div>
                <form action="{{ url_for('view_recipe')}}" method="GET">
                    <input type="checkbox" value="{{main.recipe_id}}" hidden>
                    <input type="submit" name="view" id="view_recipe" value="View recipe">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Desserts -->
    <div class="recipes-row desserts">
        <div class="recipes-header-row">
            <p>Desserts</p>
        </div>
        <div class="recipes-items-row">
            {% for dessert in desserts %}
            <div class="card">
                <span>{{dessert.recipe_name}}</span>
                <div class="card-picture">
                </div>
                <form action="{{ url_for('view_recipe')}}" method="GET">
                    <input type="checkbox" value="{{dessert.recipe_id}}" hidden>
                    <input type="submit" name="view" id="view_recipe" value="View recipe">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Kid's meals -->
    <div class="recipes-row kids">
        <div class="recipes-header-row">
            <p>Kid's meals</p>
        </div>
        <div class="recipes-items-row">
            {% for kids_meal in kids_meals %}
            <div class="card">
                <span>{{kids_meal.recipe_name}}</span>
                <div class="card-picture">
                </div>
                <form action="{{ url_for('view_recipe')}}" method="GET">
                    <input type="checkbox" value="{{kids_meal.recipe_id}}" hidden>
                    <input type="submit" name="view" id="view_recipe" value="View recipe">
                </form>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="new-recipe text-center">
        <a href="{{url_for('add_new_recipe_page')}}"
            class="button tablet:col-span-2 border-2 rounded-lg p-1 cursor-pointer min-w-[40%] laptop:max-w-[20%]">Add
            a new recipe</a>
    </div>
</div>

{% endblock content %}