{% if session['username'] %}
{% extends "base_home.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<div class="main-page pt-12 grid grid-cols-1">
    <!-- Starters -->
    <div class="recipes-row starters">
        <div class="recipes-header-row">
            <p>Top 4 Starters</p>
            <form action="{{url_for('all_recipes')}}" method="POST">
                <input type="hidden" name="selected_course" value="starter">
                <input type="submit" name="view" value="View all">
            </form>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for starter in starters %}
            <div class="card mb-2">
                <span><b>{{starter.recipe_name}}</b></span>
                <div class="card-picture">
                    <img src="{{starter.picture}}" alt="A picture that shows an example dish of the selected course.">
                </div>
                <div class="grid grid-cols-1 mt-1 justify-self-center">
                    <form action="{{ url_for('view_recipe')}}" method="POST"
                        class="mt-1 laptop:mt-0 col-span-2 laptop:col-span-1">
                        <input type="hidden" value="{{starter.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="view" value="View">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Mains -->
    <div class="recipes-row mains">
        <div class="recipes-header-row">
            <p>Top 4 Mains</p>
            <form action="{{url_for('all_recipes')}}" method="POST">
                <input type="hidden" name="selected_course" value="main">
                <input type="submit" name="view" value="View all">
            </form>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for main in mains %}
            <div class="card mb-2">
                <span><b>{{main.recipe_name}}</b></span>
                <div class="card-picture">
                    <img src="{{main.picture}}" alt="A picture that shows an example dish of the selected course.">
                </div>
                <div class="grid grid-cols-1 mt-1 justify-self-center">
                    <form action="{{ url_for('view_recipe')}}" method="POST"
                        class="mt-1 laptop:mt-0 col-span-2 laptop:col-span-1">
                        <input type="hidden" value="{{main.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="view" value="View">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Desserts -->
    <div class="recipes-row desserts">
        <div class="recipes-header-row">
            <p>Top 4 Desserts</p>
            <form action="{{url_for('all_recipes')}}" method="POST">
                <input type="hidden" name="selected_course" value="dessert">
                <input type="submit" name="view" value="View all">
            </form>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for dessert in desserts %}
            <div class="card mb-2">
                <span><b>{{dessert.recipe_name}}</b></span>
                <div class="card-picture">
                    <img src="{{dessert.picture}}" alt="A picture that shows an example dish of the selected course.">
                </div>
                <div class="grid grid-cols-1 mt-1 justify-self-center">
                    <form action="{{ url_for('view_recipe')}}" method="POST"
                        class="mt-1 laptop:mt-0 col-span-2 laptop:col-span-1">
                        <input type="hidden" value="{{dessert.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="view" value="View">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Kid's meals -->
    <div class="recipes-row kids_meals">
        <div class="recipes-header-row">
            <p>Top 4 Kid's meals</p>
            <form action="{{url_for('all_recipes')}}" method="POST">
                <input type="hidden" name="selected_course" value="kids_meal">
                <input type="submit" name="view" value="View all">
            </form>
            <hr>
        </div>
        <div class="recipes-items-row">
            {% for kids_meal in kids_meals %}
            <div class="card mb-2">
                <span><b>{{kids_meal.recipe_name}}</b></span>
                <div class="card-picture">
                    <img src="{{kids_meal.picture}}" alt="A picture that shows an example dish of the selected course.">
                </div>
                <div class="grid grid-cols-1 mt-1 justify-self-center">
                    <form action="{{ url_for('view_recipe')}}" method="POST"
                        class="mt-1 laptop:mt-0 col-span-2 laptop:col-span-1">
                        <input type="hidden" value="{{kids_meal.recipe_id}}" name='selected_recipe'>
                        <input type="submit" name="view" value="View">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}