{% extends "base.html" %} {% block content %}

<div
  class="relative mt-20 tablet:mt-60 mb-4 mx-2 tablet:mx-8 p-10 tablet:p-4 tablet:min-h-[500px] items-center justify-center border rounded-md border-main-bg shadow-lg"
>
  <h1 class="text-center mb-16 font-bold font-mono text-xl">Welcome back!</h1>
  <form id="auth-form" method="POST" action="{{ url_for('login') }}" class="m-8 tablet:min-h-fit">
    <div class="tablet:m-4 grid grid-cols-1 tablet:grid-cols-2">
      <label for="email" class="text-center mb-2">Username:</label>
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Your username"
        class="form-control border rounded-md border-main-bg shadow-sm p-[3px] text-center mb-2"
      />
    </div>

    <div class="tablet:m-4 grid grid-cols-1 tablet:grid-cols-2">
      <label for="password" class="text-center mb-2">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="#tryharder"
        class="form-control border rounded-md border-main-bg shadow-sm text-center mb-2"
      />
    </div>
    <div
      class="grid grid-cols-1 tablet:grid-cols-2 justify-center items-center mt-8 gap-8 tablet:px-32"
    >
      <input type="submit" value='Login' class="border rounded-lg p-1">
    </div>
  </form>
</div>

<!-- update buttons -->

{% endblock content %}
