{% if session['username'] %}
{% extends "base_home.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<div
    class="grid grid-cols-1 mb-[70px] mt-[100px] mx-5 min-h-[50dvh] tablet:mx-[15%] desktop:mx-[25%] items-center justify-center border rounded-md border-main-bg shadow-lg">
    <!-- Displaying th selected recipe -->
    <div class="m-8 tablet:min-h-fit laptop:mx-4 text-center">
        <div class="tablet:my-4 laptop:mx-0 grid grid-cols-1">
            <p>The recipe's name is <span class="rounded-md bg-golden border-transparent"><b>{{current_recipe.recipe_name}}</b></span>, and it is a <b>{{current_recipe.course.replace("_", " ")}}</b>.</p>
        </div>
        {% if  free_from|length != 0 %}
        <p class="mt-2 tablet:mt-0">It is also:
            <ul class="mt-2">
                
                {% for i in range(free_from|length) %}
                    
                    {% for key in  free_from[i] %}
                        <li>
                        {% if free_from[i][key] == "yes"%}
                            <b>{{key}}</b>
                        {% endif %}
                            </li>
                    {% endfor %}

                {% endfor %}
                    
            </ul>
        </p>
        {% endif %}
        <br><br><hr><br>       

        <!-- Ingredients are shown here -->
        <div class="grid grid-cols-1 text-center mb-2">
            <label for="ingredients">The ingredients are:</label>
            <div class="border rounded-lg border-main-bg mt-2 p-2 min-h-[200px]"><span>{{current_recipe.ingredients}}</span></div>
        </div>
        <!-- Instructions are shown here -->
        <div class="grid grid-cols-1 text-center mb-2">
            <label for="instructions">And follow these instructions:</label>
            <div class="border rounded-lg border-main-bg mt-2 p-2 min-h-[200px]"><span class="inline-block align-middle">{{current_recipe.instructions}}</span></div>
        </div>
    </div>
</div>

{% endblock content %}