@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header {
    @apply fixed top-0 w-screen h-16 shadow-lg bg-main-bg text-main-text flex z-[1];
  }
  .navbar {
    @apply flex justify-between items-center w-[92%] mx-auto;
  }
  .navbar-brand {
    @apply ml-3 items-center text-center flex;
  }
  .brand-in-header {
    @apply hidden tablet:visible tablet:flex tablet:left-0 cursor-pointer;
  }
  .cone {
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 20px solid #d2d6db;
    border-radius: 33%;
    @apply transition-all duration-300 ease-linear cursor-pointer;
  }
  .cone:after {
    position: relative;
    top: -7px;
    left: -8px;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #334155;
    border-radius: 33%;
    @apply transition-all duration-300 ease-linear cursor-pointer;
  }
  .cone-nonclicked {
    @apply top-[300%];
  }
  .cone-clicked {
    @apply top-16;
  }
  .navbar-links-list-div {
    @apply absolute tablet:static bg-main-bg text-main-text min-h-min tablet:min-h-0 left-3 tablet:-left-32 tablet:top-1 tablet:min-w-[50%] top-[-300%] flex tablet:justify-center px-[5%] justify-start rounded-b-xl z-[-1] tablet:z-auto pr-[6dvw];
  }
  .navbar-link-list {
    @apply flex flex-col tablet:flex-row min-w-[100%] justify-between;
  }
  .navbar-links {
    @apply tablet:mx-6 my-1 p-2;
  }
  .nav-link {
    @apply font-bold p-2 rounded text-main-text hover:bg-main-text hover:text-main-bg hover:rounded-xl transition-all duration-200 ease-linear cursor-pointer text-center;
  }
  .navbar-sign-in {
    @apply font-bold mx-6 p-2 border-solid border border-golden rounded bg-golden text-main-bg hover:bg-main-bg hover:text-golden hover:rounded-3xl hover:border hover:border-solid hover:border-golden transition-all duration-200 ease-linear cursor-pointer;
  }
  .main-page {
    @apply relative top-16 grid grid-cols-1 gap-4 mb-[160px];
  }
  .cards {
    padding: 8px;
    border: solid 1px #334155;
    border-radius: 2px;
    @apply m-2;
  }
  .card-picture + form {
    @apply justify-self-center;
  }
  input[value="Login"] {
    margin: 0 auto;
  }
  input[type="submit"] {
    @apply cursor-pointer;
  }
  input[name="edit"] {
    @apply justify-self-center border border-main-bg rounded px-2 bg-[#063b00] font-bold text-golden;
  }
  .delete {
    @apply justify-self-center border border-main-bg rounded px-2 bg-red font-bold cursor-pointer;
  }
  .delete-confirm {
    @apply justify-self-center border border-main-bg rounded px-2 bg-red font-bold cursor-pointer;
  }
  input[name="view"] {
    @apply justify-self-center border border-main-bg rounded px-2 bg-golden font-bold;
  }
  .cancel {
    @apply justify-self-center border border-main-bg rounded px-2 mb-1 bg-golden font-bold cursor-pointer;
  }
  form:has(> .view-all) {
    @apply mt-2;
  }
  .view-all {
    @apply text-sm;
  }
  .recipes-header-row hr {
    @apply mt-3;
  }
  .button {
    background-color: #d2d6db;
    font-weight: bold;
    @apply transition-all duration-200 ease-linear;
  }
  #profile {
    background-image: url("../assets/head_pic.jpg");
    background-size: cover;
    border-bottom: #334155 3px;
  }
  #profile-home {
    height: auto;
    background-image: url("../assets/profile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #recipes-home {
    height: auto;
    background-image: url("../assets/recipes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .recipes-row {
    @apply mb-6 pt-3 pb-4 px-4 min-h-40 w-[85%] border-[3px] border-main-bg rounded-lg justify-self-center tablet:grid-rows-2 desktop:grid-rows-1;
  }
  .recipes-header-row {
    @apply justify-center text-center mb-4 font-bold text-lg;
  }
  .recipes-items-row {
    @apply grid grid-cols-2 tablet:grid-cols-4 gap-8 tablet:gap-16 justify-evenly text-sm text-wrap;
  }
  .card-picture {
    @apply h-[100px] w-[100px] laptop:h-[180px] laptop:w-[180px] desktop:h-[230px] desktop:w-[230px] justify-self-center;
    border: #334155;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-items: center;
    margin-top: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-picture > img {
    object-fit: cover;
    max-width: 170%;
    max-height: 170%;
  }
  .card {
    @apply grid grid-cols-1;
    text-align: center;
    justify-items: center;
  }
  .card > span {
    @apply border border-main-text bg-main-bg text-main-text rounded p-1 max-w-fit justify-self-center;
  }
}
