<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/cookbook.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>No. 39 Recepies</title>
</head>

<body>



    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#!">No. 39 Recipes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Main</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block header %}
    {% endblock header %}
    
    {% block content %}
    {% endblock content %}
    
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; no39 Recipes <span id="copyright"></span></p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')"></script>
    <!-- JQuery JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    <!-- Core theme JS-->
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
</body>

</html>